<h1>New ship</h1> 
      
<% ships = Ship.all %>

<% ships.each do |ship| %>
  <% if ship.faction == @squad.faction %>
    <ul>
      <li>
        <a href="/squads/<%= @squad.id %>/ship/<%= ship.id %>" ><%= ship.name %>: <%= ship.cost %> points</a>
      </li>
    </ul>
  <% end %>
<% end %>