<!DOCTYPE html>
<html>
  <head>
    <title>X-Wing Squad Builder</title>
  </head>
  <body>
    <nav>
    <h1>X-Wing Squad Builder</h1>
      <ul>
        <li>
          <a href="/squads">View Squads</a>
          <a href="/ships">View Ships</a>
          <a href="/squads/new">New Squad</a>
        </li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>