<h1>New ship<h1>

<form method="POST" action="/piloted_ships/new">
    
  <% ships = Ship.all %>
  <ul>
    <% ships.each do |ship| %>
    <li>
      <%= ship.name %>: <%= ship.cost %> points
    </li>

    <li>
      Pilot: 
      <% pilots = ship.pilots %>
        <% pilots.each do |pilot| %>
          <option value = "<%= pilot.id %>"><%=pilot.name%> - <%pilit.cost%></option>
        <% end %>
    <li>

  </ul>

<input type="submit" name="Add Ship"/>

</form> 