<h1>Available Ships:</h1>

<a href="/ships/new">Add ship</a>

<form method="get" action="/ships/new" >
  <input type="submit" value="Add Ship">
</form> 

<% @ships.each do |ship| %>
<ul>
  <li>
    <a href="/ships/<%= ship.id %>" ><%= ship.name %></a>
  </li>
</ul>
<% end %>