<h1>Available Ships:</h1>

<form method="get" action="/ships/new" >
  <input class="button green" type="submit" value="Add Ship">
</form> 

<% @ships.each do |ship| %>
<ul>
  <li>
    <a href="/ships/<%= ship.id %>" ><%= ship.name %></a>
  </li>
</ul>
<% end %>